.login {
  margin: 20px auto;
  padding: 40px 50px;
  max-width: 300px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 1px #666;
}
.login input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
}

.login input[type="text"],
.login input[type="password"] {
  border: 1px solid #c0c0c0;
  transition: 0.2s;
}

.login input[type="text"]:hover {
  border-color: #f44336;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.login-btn {
  border: none;
  background: #ef5350;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
  width: 100%;
  padding: 14px 12px;
  cursor: pointer;
}

.login-btn:hover {
  background: #f44336;
}

.login h2 {
  margin: 20px 0 0;
  color: #ef5350;
  font-size: 28px;
}

.login p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

.login h2,
.login p,
.login a {
  text-align: center;
}

.login a {
  text-decoration: none;
  font-size: 0.8em;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}
/* App Layout */
.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.header-left .logo h2 {
  margin: 0;
  font-size: 1.5rem;
}

.header-right button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.user-button {
  background-color: #007bff;
  color: white;
}

.example-button {
  background-color: #28a745;
  color: white;
}

/* Main Body */
.main-body {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 15%;
  background-color: #343a40;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-nav ul li {
  margin-bottom: 1rem;
}

.nav-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #495057;
}

.nav-label {
  margin-left: 0.5rem;
  font-size: 1rem;
}

/* Content */
.content {
  flex-grow: 1;
  padding: 1rem;
  background-color: #f8f9fa;
  overflow-y: auto;
}
